/* @import "framer-plugin/framer.css"; */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@theme inline {
  --color-framer-tint: var(--framer-color-tint);
  --color-framer-tint-dimmed: var(--framer-color-tint-dimmed);
  --color-framer-tint-dark: var(--framer-color-tint-dark);
  --color-framer-bg: var(--framer-color-bg);
  --color-framer-bg-secondary: var(--framer-color-bg-secondary);
  --color-framer-bg-tertiary: var(--framer-color-bg-tertiary);
  --color-framer-text: var(--framer-color-text);
  --color-framer-text-reversed: var(--framer-color-text-reversed);
  --color-framer-text-secondary: var(--framer-color-text-secondary);
  --color-framer-text-tertiary: var(--framer-color-text-tertiary);
  --color-framer-color-divider: var(--framer-color-divider);
}

/* Base styles */

body {
  margin: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;

  color: var(--framer-color-text, #333);
  background: var(--framer-color-bg, #fff);
  color-scheme: light dark;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
