@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* @import "framer-plugin/framer.css"; */
@import "tailwindcss";

@theme inline {
  --color-framer-tint: var(--framer-color-tint);
  --color-framer-tint-dimmed: var(--framer-color-tint-dimmed);
  --color-framer-tint-dark: var(--framer-color-tint-dark);
  --color-framer-bg: var(--framer-color-bg);
  --color-framer-bg-secondary: var(--framer-color-bg-secondary);
  --color-framer-bg-tertiary: var(--framer-color-bg-tertiary);
  --color-framer-text: var(--framer-color-text);
  --color-framer-text-reversed: var(--framer-color-text-reversed);
  --color-framer-text-secondary: var(--framer-color-text-secondary);
  --color-framer-text-tertiary: var(--framer-color-text-tertiary);
  --color-framer-color-divider: var(--framer-color-divider);

  --color-primary-50: #ececff;
  --color-primary-100: #d5d5ff;
  --color-primary-200: #a8a7f6;
  --color-primary-300: #7776ee;
  --color-primary-400: #514fe8; /* main*/
  --color-primary-500: #3533e4;
  --color-primary-600: #2625e4;
  --color-primary-700: #1919cb;
  --color-primary-800: #1115b6;
  --color-primary-900: #0311a1;
}

@utility scrollArea {
  &:active::-webkit-scrollbar-thumb,
  &:focus::-webkit-scrollbar-thumb,
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    visibility: hidden;
  }
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    position: fixed;
  }
}

/* Base styles */

body {
  margin: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;

  color: var(--framer-color-text, #333);
  background: var(--framer-color-bg, #fff);
  color-scheme: light dark;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
